.heading{
    box-shadow:5px 5px 5px grey;
    width:100%;
    color:white;
    font-size:23px;
    margin:0;
}
.copy_right_footer{
    position:fixed;
    text-align:center;
    width:100%;
    color:white;
    background-color: grey;
    line-height:3;
    bottom:0;
}
.note{
    font-size:15px;
    color:black;
}
canvas{
    box-shadow:5px 5px 5px grey;
    border-radius:25px;
    border:5px solid white;
}